.title {
    font-family: 'Kosugi Maru', sans-serif;
    color: rgb(245, 191, 79);
    text-align: center;
}

.mapLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0
}

.checkbox {
    border-style: dotted;
    border-color: rgb(245, 191, 79);
    padding: 1rem 7rem;
    border-radius: 10px;
    border-width: 3px;
    display: flex;
    flex-direction: column;
}

.buttonPosition {
    text-align: center;
    margin-top: 1rem;
}

.button {
    padding: 8px 20px;
    background-color: rgb(245, 191, 79);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: rgb(225, 150, 1);
}

.mapWidth {
    width: 80%;
    margin-top: 2rem;
    display: flex;
}



#map {
    height: 600px;
    width: 65%;
}

#sidebar {
    padding: 0 0 0 3rem;
    max-width: 30%;
}

@media (max-width: 768px) {
    .checkbox {
        padding: 1rem 1rem;
    }

    .mapWidth {
        flex-direction: column;
    }

    #map {
        height: 400px;
        width: 100%;
    }

    #sidebar {
        padding: 0 0 0 0;
        max-width: 100%;
    }

    .mapLayout {
        justify-content: normal;
    }
}

.info {
    background-color: aliceblue;
    padding: 4px;

}
.info table {
    font-size: 80%;
}
